
<div class="center_content">
    <div class="center_title_bar">Sign up</div>
    <div class="prod_box_big">
        @using (Html.BeginForm("AddUser", "Accounts", FormMethod.Post, null))
        {
            <div class="center_prod_box_big">
                <div class="contact_form">
                    <div class="form_row">
                        <label class="contact">Name:</label>
                        <input class="contact_input" name="Name" id="Name" type="text" placeholder=" Enter you email address">
                    </div>
                    <div class="form_row">
                        <label class="contact">Email:</label>
                        <input class="contact_input" name="Email" id="Email" type="text" placeholder=" Enter you email address">
                    </div>
                    <div class="form_row">
                        <label class="contact">Password:</label>
                        <input class="contact_input" name="Password" id="Password" type="password" placeholder=" Enter your password">
                    </div>
                    <div class="form_row">
                        <label class="contact">Password:</label>
                        <input class="contact_input" name="Password2" id="Password2" type="password" placeholder=" Re-Enter your password">
                    </div>
                    <div class="submit_button" id="sign_up">
                        <a href="#" class="submit_button2">Sign Up</a>
                    </div>
                    <input type="submit" id="submit" value="Save" style="display:none" />
                </div>
            </div>
        }
        <div id="error"></div>
        <!--<form action="/Admin/AddItem" method="post">-->
        <!--</form>-->
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#sign_up").click(function () {
            if ($("#Email").val() != "" ) {
                var email = $('#Email').val();
                var password = $('#Password').val();
                var email = $('#Email').val();
                $.getJSON("/Accounts/CheckAccountEmail?Email=" + email, function (data) {
                    //var z = JSON.parse(data);
                    if (data) {//if already exist
                        //alert("here1");
                        $("#error").text("Email already exist");
                    }
                    else {
                        $("#submit").trigger("click");
                    }
                });
            }
            else {
                $("#submit").trigger("click");
            }
        });
        $("form").validate({
            rules: {
                Name: "required",
                Password: "required",
                Password2:{
                    equalTo: "#Password"
                },
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Name: "Please enter first name",
                Password: "Please enter password",
                Password2: {
                    equalTo: "password don't match"
                },
                Email: {
                    required: "Email is required",
                    email: "please use someone@domain.com format"
                }
            }
        });
    });
</script>