@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center_content">
    <div class="center_title_bar">About us</div>
    <p style="border-bottom: 1px dashed #e4e4e4;
    color: #504b4b;
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 0 14px 14px;">
        ABC specializes in web and social app development. The company offers a combination of consulting, outsourcing, offshore and specialized services across all types of web, social media and mobile app development activities. Our clientele ranges from medium to large sized companies and our areas of expertise are in web 2.0 and social media applications. ABC develops applications for all major social networks such as Facebook, MySpace, LinkedIn, Friendster, Hi5, and Google open social. PureLogics has been able to successfully carve a niche for itself in the highly competitive global arena through its innovative application of ideas and in developing solutions aimed to facilitate increase in productivity and greater ease of communication, at lower costs 
    </p>
</div>