@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center_content">
    <div class="center_title_bar">Upload Item</div>
    <div class="prod_box_big">
    <div class="center_prod_box_big">
        <div class="contact_form">
        <div class="form_row">
            <label class="contact"><strong>Title:</strong></label>
            <input type="text" name="Name" class="contact_input" />
        </div>
        <div class="form_row">
            <label class="contact"><strong>Manufacturer:</strong></label>
            <input type="text" name =" " class="contact_input" />
        </div>
        <div class="form_row">
            <label class="contact"><strong>Old Price:</strong></label>
            <input type="text" class="contact_input" />
        </div>
        <div class="form_row">
            <label class="contact"><strong>New Price:</strong></label>
            <input type="text" class="contact_input" />
        </div>
        <div class="form_row">
            <label class="contact"><strong>Detail:</strong></label>
            <textarea class="contact_textarea" ></textarea>
        </div>
        <div class="form_row">
            <label class="contact"><strong>Detail:</strong></label>
            <input type="file" name="uploadField" accept="image/*" />
        </div>
        <div class="form_row"> <a href="#" class="prod_details">save</a> </div>
        </div>
    </div>
    </div>
</div>